    <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Mongo Scraper</a>
                </div>
            
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="/saved">Saved Articles</a></li>
                    <li><a class="btn btn-danger" id="scrape-new">Scrape New Articles!</a></li>
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="jumbotron text-center">
            <div class="background-image">

            </div>
            <div class="header-title text-center">
                <h1>Mongo Scraper</h1>
                <p>New York Times Edition</p>
            </div>    
        </div><!--jumbotron--> 

        <!--Articles div-->
        <div class="article-container">
            {{#each scrapedArticles}}
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <input type="hidden" data-id={{this._id}}>
                        <a href={{this.link}} id="title">{{this.title}}</a>
                        <button type="button" class="btn btn-success pull-right" id="btn-save">Save</button>
                    </div>
                    <div class="panel-body summary" id="summary">{{this.summary}}</div>
                </div>
            {{/each}}

        </div> <!-- /.article-container -->  
 

   